.inform__header {
    height: 60px;
    background-color: #0f218b;
    color: #fff;
}

.inform__header__title {
    font-size: 1.0625rem;
    padding-top: 8px;
}

#header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 30;
}

.inform__header__detail {
    font-size: 12px;
}
