.home__categories__container {
    margin-top: 76px;
}

.home__categories--left {
    flex: 1 1 auto;
}

.categories--left__wrapper {
    padding: 30px 17.5px 4px;
    background-color: #f5f5f5;
}

.categories--left__title {
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.3;
}

.categories--left__slider {
    width: 860px;
    min-height: 372.4px;
    margin-top: 16px;
}

.categories--left__slider__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 135px;
    background-color: #fff;
}
.categories--left__slider__img img {
    width: 100px;
    height: 100px;
}

.arrow--new__container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 20;
}
.arrow--new {
    font-size: 20px;
    color: #004098;
    font-weight: 700;
    margin-top: 2px;
}

.arrow--new__container:hover {
    background-color: #025fae;
}
.right {
    left: 97%;
    bottom: 48%;
}

.left {
    bottom: 48%;
    left: -1%;
}

.arrow--new__container:hover .arrow--new {
    color: #fff;
}
.categories--left__slider__text {
    color: #004098;
}
.left__slider__list:hover .categories--left__slider__text {
    text-decoration: underline;
}
.left__slider__list {
    width: 165px;
    min-height: 150px;
    padding: 6px 15px;
    font-size: 0.8125rem;
}
.home__categories__right {
    max-width: 470px;
    display: flex;
    flex: 52 0 488px;
    flex-direction: column;
    margin-left: 30px;
}

.home__register__form {
    padding: 30px;
    border: 1px solid #999;
}

.home__register__title {
    font-size: 1.3125rem;
}

.register__panel__button {
    height: 47px;
    padding: 8px 12px;
    color: #333;
    font-weight: 700;
    background-color: #fc0;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
}

.register__panel__appeal {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

.register__panel__guild {
    width: 100%;
    margin-top: 20px;
    padding: 13px 10px 10px;
    color: #333;
    line-height: 2.5;
    text-align: center;
    border: 1px solid #999;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
}

.panel__guild__content {
    font-weight: 700;
}

.register__panel__guild:hover p {
    color: #025fae;
    text-decoration: underline;
}

.home__login__form {
    padding: 30px;
    border: 1px solid #999;
    margin-top: 20px;
}

.home__login__button {
    width: 100%;
    height: 47px;
    padding: 14px 16px;
    color: #fff;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.5;
    text-align: center;
    background-color: #004098;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
@media screen and (max-width: 1199px) {
    .home__categories__container {
        display: block !important;
    }
    .home__categories__right {
        flex-direction: row;
        margin-top: 20px;
        margin-left: 0;
        max-width: 100%;
    }
    .home__categories--left {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .home__register__form {
        flex-basis: 50%;
    }
    .home__login__form {
        flex-basis: 50%;
        margin-top: 0;
        margin-left: 20px;
    }
}
