.home__banner__title {
    font-size: 21px;
}
.home__banner__link {
    font-size: 13px;
    color: #004098;
}

.home__banner__link:hover {
    text-decoration: underline;
}

.home__banner__content {
    gap: 10px;
}
