.home--banner__title {
    font-size: 21px;
}
.home--banner__link {
    font-size: 13px;
    color: #004098;
}

.home--banner__link:hover {
    text-decoration: underline;
}

.home--banner__content {
    gap: 10px;
}
