.techbox__title {
    font-size: 1.3125rem;
    line-height: 1.3;
}

.techbox__item__container {
    margin-top: 20px;
    border: 1px solid #999;
    min-height: 128.5px;
    padding: 20px;
}
.techbox__item__box {
    margin-top: -12px;
}

.techbox__item__box a {
    display: inline-block;
    width: 50%;
    margin-top: 12px;
    padding: 0 24px 0 0;
    font-size: 0.8125rem;
}

@media screen and (max-width: 1199px) {
    .techbox__title {
        margin-top: 60px;
    }
}
