.service__item {
    width: calc((100% - 20px) / 3);
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 1px solid #999;
    cursor: pointer;
}

.service__item img {
    max-width: 105px;
    max-height: 80px;
    object-fit: contain;
}

.service__item__content {
    font-size: 13px;
    color: #333;
}

.service__item:hover .service__item__content {
    text-decoration: underline;
}

.service__item:hover p {
    color: #004098;
}
