.inform__box {
    border: 1px solid #004098;
    margin-bottom: 1rem;
}

.inform__message {
    display: flex;
    height: 18px;
    width: 100%;
    color: #333;
    gap: 10px;
    padding: 1.5rem 1rem;
}

.inform__icon {
    font-size: 18px;
}

.inform__message__content a {
    text-decoration: underline;
    color: blue;
}
