.footer__contact__title {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.3;
}

.footer__contact__link {
    padding: 2px 1.5rem 2px 0;
    color: #004098;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

.footer__contact__icon {
    position: absolute;
    right: 2px;
    top: 0;
    font-size: 16px;
}

.footer__contact__text {
    margin-top: 5px;
}
